# AWS / LocalStack Configuration
LOCALSTACK_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# LocalStack Auth Token (If using Pro/Trial)
LOCALSTACK_AUTH_TOKEN=your_token_here

# App Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DEBUG=True

# Tambahkan ini di file .env Anda
TELEGRAM_BOT_TOKEN=masukkan_token_bot_disini
TELEGRAM_CHAT_ID=masukkan_chat_id_anda_disini